apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    url: http://tempo:3200
    isDefault: false
    version: 1
    editable: true
    jsonData:
      httpMethod: GET
      serviceMap: true
      nodeGraph: true
      tracesToLogsV2:
        datasourceUid: 'Loki' # if Loki exists; otherwise ignored
        mappedTags: [
          { key: 'service.name', value: 'service' }
        ]

